body,
html {
  height: 100%;
  -webkit-tap-highlight-color: transparent
}

html {
  font-size: 40px;
  -ms-touch-action: none;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu, -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
  color: #666
}

div,
span,
a,
header {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

input,
select,
textarea {
  font: inherit;
  vertical-align: baseline;
  /*! autoprefixer: off */
  -webkit-appearance: none;
  /* autoprefixer: on */
  appearance: none;
}

ol,
ul {
  list-style: none
}

img {
  vertical-align: baseline
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  font-family: "微软雅黑";
  outline: 0;
}

a,
a:link,
a:hover,
a:active {
  text-decoration: none;
}

.page,
body {
  background-color: #f6f6f6
}