.block_wrap1 {
  width: 506px;
  height: 403px;
  background: url(../images/right01_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.block_wrap1 .block {
  padding: 28px;
}
.block_wrap1 .block .title {
  font-size: 24px;
  line-height: 40px;
  padding-left: 5px;
  background: linear-gradient(to right, #00000033, #00000000);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.block_wrap1 .block .titleIcon {
  float: left;
  height: 26px;
  line-height: 36px;
  margin-right: 17px;
}
.block_wrap1 .block .tabGroup {
  margin-top: 24px;
  display: flex;
}
.block_wrap1 .block .tabGroup .tab1 {
  width: calc(33.33% - 9px);
  line-height: 36px;
  text-align: center;
  background: url(../images/right01_tab0Bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.block_wrap1 .block .tabGroup .tab2 {
  width: calc(33.33% - 9px);
  line-height: 36px;
  text-align: center;
  background: url(../images/right01_tab2Bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.block_wrap1 .block .list {
  padding-top: 13px;
}
.block_wrap1 .block .list .listItem {
  font-size: 16px;
  padding: 14px 0;
}
.block_wrap1 .block .list .listItem .leftItem {
}
.block_wrap1 .block .list .listItem .leftItem .leftImg {
  width: 8px;
  float: left;
  line-height: 24px;
  margin-right: 12px;
}
.block_wrap1 .block .list .listItem .rightItem {
  float: right;
  color: #ffffff66
}
.block_wrap1 .block .list .listItem .rightItem .rightImg {
  width:11px;float:right;line-height:24px;margin-left:10px
}

.block_wrap2 {
  width: 506px;
  /* 506 490 */
  height: 527px;
  /* 403 507 */
  background: url(../images/right01_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.block_wrap2 .block {
  padding: 28px;
}
.block_wrap2 .block .title {
  font-size: 24px;
  line-height: 40px;
  padding-left: 5px;
  background: linear-gradient(to right, #00000033, #00000000);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.block_wrap2 .block .titleIcon {
  float: left;
  height: 26px;
  line-height: 36px;
  margin-right: 17px;
}
.block_wrap2 .block .tabGroup {
  margin-top: 24px;
  display: flex;
}
.block_wrap2 .block .tabGroup .tab1 {
  width: calc(50% - 4px);
  line-height: 36px;
  text-align: center;
  background: url(../images/right01_tab0Bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.block_wrap2 .block .tabGroup .tab2 {
  width: calc(50% - 4px);
  line-height: 36px;
  text-align: center;
  background: url(../images/right01_tab2Bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.block_wrap2 .block .detail {
  margin-top:20px
}
.block_wrap2 .block .detail .wrap2Title{
  background: url(../images/right02_item01Bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 16px;
  line-height: 48px;
  padding: 0 0 0 70px;
}
.block_wrap2 .block .detail .wrap2Img{
  margin-top:20px;
  width: 450px;
  height: 269px;
}
